body {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.RdYlGn .q0-13 {
  fill: rgb(255, 255, 255)
}

.RdYlGn .q1-13 {
  fill: rgb(255, 205, 46)
}

.RdYlGn .q2-13 {
  fill: rgb(255, 180, 23)
}
/**/

.RdYlGn .q3-13 {
  fill: rgb(255, 156, 0)
}

.RdYlGn .q4-13 {
  fill: rgb(255, 142, 0)
}
/**/

.RdYlGn .q5-13 {
  fill: rgb(255, 133, 0)
}
/**/

.RdYlGn .q6-13 {
  fill: rgb(255, 119, 1)
}

.RdYlGn .q7-13 {
  fill: rgb(247, 101, 1)
}
/**/

.RdYlGn .q8-13 {
  fill: rgb(234, 88, 1)
}
/**/

.RdYlGn .q9-13 {
  fill: rgb(226, 72, 0)
}

.RdYlGn .q10-13 {
  fill: rgb(213, 50, 0)
}
/**/

.RdYlGn .q11-13 {
  fill: rgb(204, 34, 0)
}

.RdYlGn .q12-13 {
  fill: rgb(160, 15, 0)
}
/**/

.RdYlGn .q13-13 {
  fill: rgb(134, 2, 0)
}

#side-button {
  position: fixed;
  right: 0;
  top: 50%;
  background-color: blue;
  height: 50px;
  width: 50px;
}