body {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}
/**




**/

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.RdYlGn .q-fatality0-13 {
  fill: rgb(255, 255, 255)
}

.RdYlGn .q-fatality1-13 {
  fill: rgb(255, 205, 46)
}

.RdYlGn .q-fatality2-13 {
  fill: rgb(255, 180, 23)
}
/**/

.RdYlGn .q-fatality3-13 {
  fill: rgb(255, 156, 0)
}

.RdYlGn .q-fatality4-13 {
  fill: rgb(255, 142, 0)
}
/**/

.RdYlGn .q-fatality5-13 {
  fill: rgb(255, 133, 0)
}
/**/

.RdYlGn .q-fatality6-13 {
  fill: rgb(255, 119, 1)
}

.RdYlGn .q-fatality7-13 {
  fill: rgb(247, 101, 1)
}
/**/

.RdYlGn .q-fatality8-13 {
  fill: rgb(234, 88, 1)
}
/**/

.RdYlGn .q-fatality9-13 {
  fill: rgb(226, 72, 0)
}

.RdYlGn .q-fatality10-13 {
  fill: rgb(213, 50, 0)
}
/**/

.RdYlGn .q-fatality11-13 {
  fill: rgb(204, 34, 0)
}

.RdYlGn .q-fatality12-13 {
  fill: rgb(160, 15, 0)
}
/**/

.RdYlGn .q-fatality13-13 {
  fill: rgb(134, 2, 0)
}

#side-button {
  position: fixed;
  right: 0;
  top: 50%;
  background-color: #A00F00;
  height: 50px;
  width: 50px;
}

input[type="radio"]:checked+label:after {
  border: 2px solid #A00F00;
  background-color: #A00F00;
}

.heatmap-filters {
  position: relative;
}
/**



**/

.axis,
.frame {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
}

.axis path {
  display: none;
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  fill-opacity: .7;
}